#trackly-overlay-container {
  transition: all 0.3s ease;
}

#trackly-toggle-button {
  transition: all 0.2s ease;
  background-color: #D9CFC5 !important;
}

#trackly-toggle-button:hover {
  background-color: #D9CFC5;
  transform: translateY(-2px);
}
